This project is from DataCamp with the purpose of performing EDA on two datasets lego_sets and parent_themes to identify:
* What percentage of all licensed sets ever released were Star Wars themed?
* In which year was the highest number of Star Wars sets released?

In [2]:
# Import libraries 
import pandas as pd

# Read in the datasets
lego_sets = pd.read_csv('data/lego_sets.csv')
parent_themes = pd.read_csv('data/parent_themes.csv')

# View the data sets
print(lego_sets.head())
print(parent_themes.head())

  set_num                        name  year  num_parts    theme_name  \
0    00-1             Weetabix Castle  1970      471.0        Castle
1  0011-2           Town Mini-Figures  1978        NaN  Supplemental
2  0011-3  Castle 2 for 1 Bonus Offer  1987        NaN  Lion Knights
3  0012-1          Space Mini-Figures  1979       12.0  Supplemental
4  0013-1          Space Mini-Figures  1979       12.0  Supplemental

  parent_theme
0     Legoland
1         Town
2       Castle
3        Space
4        Space
    id     name  is_licensed
0    1  Technic        False
1   22  Creator        False
2   50     Town        False
3  112   Racers        False
4  126    Space        False

In [3]:
# Perform EDA on lego_set data

# Identify the size of lego_set
lego_sets.size

# Get summary stats
lego_sets.describe()

# Get the shape
lego_sets.shape

(11986, 6)

In [7]:
# Clean the data

# First identify datatypes
lego_sets.dtypes

# Identify and remove all null values
lego_sets.isna().sum()

# Remove all data and saved as new variable
lego_sets_clean = lego_sets.dropna()

# Validate new data is clean 
lego_sets_clean.isna().sum()

set_num         0
name            0
year            0
num_parts       0
theme_name      0
parent_theme    0
dtype: int64

In [8]:
# Perform EDA on parent_themes data
parent_themes.size

# Get summary stats
parent_themes.describe()

# View shape
parent_themes.shape

(111, 3)

In [13]:
# Clean the data
# View data types
parent_themes.dtypes

# Identify if there are any missing values
parent_themes.isna().sum()

# Create new variable that just contains is_licensed and name
licensed_theme = parent_themes[parent_themes['is_licensed']]['name']

# View the results
licensed_theme.head()

7                    Star Wars
12                Harry Potter
16    Pirates of the Caribbean
17               Indiana Jones
18                        Cars
Name: name, dtype: object

In [16]:
# Subset the lego_sets that are licensed
licensed = lego_sets_clean['parent_theme'].isin(licensed_theme)
licensed_sets = lego_sets_clean[licensed]
licensed_sets.head()

,set_num,name,year,num_parts,theme_name,parent_theme
44,10018-1,Darth Maul,2001,1868.0,Star Wars,Star Wars
57,10030-1,Imperial Star Destroyer - UCS,2002,3115.0,Star Wars Episode 4/5/6,Star Wars
95,10075-1,Spider-Man Action Pack,2002,25.0,Spider-Man,Super Heroes
116,10123-1,Cloud City,2003,707.0,Star Wars Episode 4/5/6,Star Wars
120,10129-1,Rebel Snowspeeder - UCS,2003,1456.0,Star Wars Episode 4/5/6,Star Wars

In [17]:
# Identify the percentage of licensed Star Wars sets

# First identify length of all the licensed_sets
all_sets = len(licensed_sets)
# Create a variable for just the star wars sets
star_wars_sets = len(licensed_sets[licensed_sets['parent_theme'] == 'Star Wars'])
ratio = star_wars_sets / all_sets
the_force = int(ratio * 100)
print(f'The percentage of licensed sets that are Star Wars themed is {the_force}%.')

The percentage of licensed sets that are Star Wars themed is 50%.

In [19]:
# Create a pivot table 
licensed_pivot = licensed_sets.pivot_table(index = 'year', columns = 'parent_theme', values = 'set_num', aggfunc = 'count')
# Use the pivot table to identify what year the most star wars set were sold
star_wars_pivot = licensed_pivot.sort_values(by = 'Star Wars', ascending = False)['Star Wars']
new_era = 2016
print(f'The year when the most Star Wars sets were released was {new_era}.')

The year when the most Star Wars sets were released was 2016.